PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://imcadmin:cGgrQ9rbsPYJKeWD@cluster0.nylhfah.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
PAYSTACK_SECRET_KEY=sk_live_15d87f50b0c5b36d9524eda141fb5a8b61fe7843
PAYSTACK_PUBLIC_KEY=pk_live_0f0e3d7bb01cf6a6e0364f04d1ae5a55700e6dd1
FRONTEND_URL=https://your-netlify-site.netlify.app